/* general css*/
body{
    font-family: "Crimson Text","Times New Roman",serif;
    background-color:#F2FFFC; 
    line-height: 30px;
}

h1,h2{
    font-family: "Open Sans Condensed","Arial",sans-serif;
}


p{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* estilo para tringulo angulo reto e gravata borboleta
div {
    border-left: 30px solid red;
    border-right: 30px solid red;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    width: 0;
}

h3{
    border-left: 30px solid red;
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid red;
    width: 0;
}
*/





/* main css*/


/*main h1{
    color:#FAFFFA;
    background-color: #851944;
    text-align:center;
    padding: 25px;
    border-bottom: 10px #000000 solid;
    font-size: 60px;
}*/

main h2{
    font-size: 30px;
}

main strong{
    font-weight: bold;
}

main em{
    font-style: italic;
}

/*main div{
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}*/

/*
main blockquote{
    padding: 20px;
    border: 10px  solid #C2CCCA;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #D9E5E3; 
    width: 250px;
}

main cite{
    background-color: #D9E5E3;   
}*/


main a{
    color:#851944;

}

/* navagecao css*/

/*
aside{
    background-color: #3C1D3D;  
    color:#F2FFFC;
    padding: 20px;
    text-align: center;
}


aside a{
      color:inherit;
      font-family: "Open Sans Condensed","Arial","sans-serif";

  }

aside li{
    display: block;
}



aside div{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

*/
/* article */

article{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;   
}


/*Classes Css*/

.icones-sociais li{
    display: inline-block;
}

.icones-sociais a{
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

.github{
    background-image: url(github.png);
}

.twitter{
    background-image: url(twitter.png);
}

.linkedin{
    background-image: url(linkedin.png);
}


.article-footer a{
    color:#851944;
    
}

.navegacao-site{
    background-color: #3C1D3D;  
    color:#F2FFFC;
    padding: 20px;
    text-align: center
}

.navegacao-site h1{
    font-size: 30px;
    margin-bottom: 25px;
}

.navegacao-site a{
    color:inherit;
    font-family: "Open Sans Condensed","Arial","sans-serif";
}

.navegacao-menus li{
    display: block;
    text-transform: lowercase;
}



.navegacao-site div{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}


.main-footer{
    background-color: #000000;
    color:#F2FFFC;
    padding:20px;
}

.titulo-principal{
    font-family: "Open Sans Condensed","Arial",sans-serif;
    color:#FAFFFA;
    background-color: #851944;
    text-align:center;
    padding: 25px;
    border-bottom: 10px #000000 solid;
    font-size: 60px;
    text-transform: uppercase;
}

.citacao{
    padding: 20px;
    border: 10px  solid #C2CCCA;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #D9E5E3; 
    width: 250px;
    
}

.citacao cite{
    background-color: #D9E5E3;   
}

.conteudo{
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.leia-mais{
    font-size: 20px;
    margin: 10px    0px;
    padding: 10px 10px;
    text-align: center;
    background-color:#3C1D3D;
    font-family: "Open Sans Condensed","Arial",sans-serif;
    display: block;
    color:#FAFFFA;  
}


}
