/* general css*/
body{
    font-family: "Crimson Text","Times New Roman",serif;
    background-color:#F2FFFC; 
    line-height: 30px;
}

h1,h2{
    font-family: "Open Sans Condensed","Arial",sans-serif;
}


p{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* estilo para tringulo angulo reto e gravata borboleta
div {
    border-left: 30px solid red;
    border-right: 30px solid red;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    width: 0;
}

h3{
    border-left: 30px solid red;
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid red;
    width: 0;
}
*/


/* main css */


main {
    width: 80%;
    float: left;
}


main h2{
    font-size: 30px;
    clear: both;
}

main strong{
    font-weight: bold;
}

main em{
    font-style: italic;
}




main a{
    color:#851944;

}





/*Classes Css*/

.icones-sociais li{
    display: inline-block;
}

.icones-sociais a{
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}



.minha-foto {
    float:right;
    border-bottom:10px #000000 solid;
    border-left: 10px #000000 solid;
    box-sizing: border-box;
    position: absolute;
    top:0;
    right: 0;
}

.navegacao-site{
    background-color: #3C1D3D;  
    color:#F2FFFC;
    padding: 20px;
    text-align: center;
    clear: right;
    float:right;
    border-bottom:10px #000000 solid;
    border-left: 10px #000000 solid;
    width:20%;
    box-sizing: border-box;
    position:relative;
    top:310px;
}

.navegacao-site h1{
    font-size: 30px;
    margin-bottom: 25px;
}

.navegacao-site a{
    color:inherit;
    font-family: "Open Sans Condensed","Arial","sans-serif";
}

.navegacao-menus li{
    display: block;
    text-transform: lowercase;
}



.navegacao-site div{
    margin-left: auto;
    margin-right: auto;
}


.main-footer{
    background-color: #000000;
    color:#F2FFFC;
    padding:20px;
    clear:both;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.titulo-principal{
    font-family: "Open Sans Condensed","Arial",sans-serif;
    color:#FAFFFA;
    background-color: #851944;
    text-align:center;
    padding: 45px;
    border-bottom: 10px #000000 solid;
    font-size: 60px;
    text-transform: uppercase;
}



.conteudo{
    width: 820px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 100px;
    
    
}



